<h2>My People</h2>
<div>
    <label></label> <input #heroName placeholder="First Name"/> <label></label> <input #lastName placeholder="Last Name"/>
    <button (click)="addFirstLast(heroName.value, lastName.value); heroName.value=''; lastName.value=''">
        Add
    </button>
</div>
<ul class="heroes">
    <li *ngFor="let hero of heroes" (click)="onSelect(hero)"
        [class.selected]="hero === selectedHero">
        <span class="badge">{{hero.id}}</span>
        <span>{{hero.name}}</span>
        <button class="delete"
                (click)="delete(hero); $event.stopPropagation()">x
        </button>
    </li>
</ul>
<div *ngIf="selectedHero">
    <h2>
        {{selectedHero.name | uppercase}}
    </h2>
    <button (click)="gotoDetail()">View Details</button>
</div>
